<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='img/favicon_io/apple-touch-icon.png')}}">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon_io/apple-touch-icon.png')}}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon_io/apple-touch-icon.png')}}">
    <link rel="shortcut icon manifest" href="{{url_for('static', filename='img/favicon_io/apple-touch-icon.png')}}">
    <title>Make Jazz Simple</title>
</head>
<body class="black_background">
    <div class="header d-flex justify-content-between">
        <img class='m-2' src="static/img/logo.svg" style='max-height: 35px' alt="">
        <a class='link-light' href="/register">Need to make an Account?</a>
    </div>
    <div class="container-md mt-lg-5 text-center" style="height: 500px;">
        <h2 class="text-light">Log In</h2>
        <div class="d-flex justify-content-center">
                <form class="mt-5  mb-5 col-3" action="/login_user" method="POST">
                    <div class="form-group mb-3">
                        <label class="text-light" for="username">User Name</label>
                        <input type="input" class=" col-3 form-control bg-transparent border border-1 p-2 text-light" name="username" placeholder="pianoman825">
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-light" for="password">Password</label>
                        <input type="password" class=" col-3 form-control bg-transparent border border-1 p-2 text-light" name="password" placeholder="secretpassword">
                    </div>
                    <button type="submit" class="mt-2 btn btn-primary">Log In</button>
                </form>
        </div>
        <img src="static/img/login.gif"  style="max-height: 200px" alt="">
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>